{% extends 'base.html' %}

{% block title %}API{% endblock %}

{% block headerjs %}
<script type="text/javascript">
var TMP_JSON = { };

$(document).ready(function() {
    
    // Set nav header active link and resize API window
    $('#api-nav').addClass('active');
    resize_api_window();

    reload_api_browser();

    $(window).resize(function() {
        resize_api_window();
    });

    // Definitely not the best way to do this, but simple enough to understand, essentially
    // whatever is selected gets set as submod which will then show or hide special settings that
    // can be used on the node that was selected.
    $('#module').change(function() {
        clear_settings();
        var module = $(this).val();

        // Remove all old module accessors
        $('.selector select:not(:first-of-type)').remove();
        $('.selector-disk select').remove();

        // Show settings based on module
        $('.settings').hide();
        $('.hide-by-default').hide();
        $('.service-settings .list').html('');
        $('.filter-settings .list').html('');

        if (module == '') {
            reload_api_browser();
            return;
        }

        switch (module) {
            case 'memory':
                $('.data-settings').show();
                $('.data-settings .unit-prefix').show();
                $('.data-settings .agg').hide();
                break;
            case 'processes':
                $('.check-settings').show();
                $('.wc-thresholds').show();
                $('.filter-settings').show();
                break;
            case 'services':
                $('.service-settings').show();
                $('.check-settings').show();
                $('.status-check').show();
                break;
            case 'windowscounters':
                $('.selector-counters').show();
                $('.check-settings').show();
                $('.wc-thresholds').show();
                $('.advanced-settings').show();
                break;
            case 'logs':
                $('.log-name-selector').show();
                $('.log-filters').show();
                $('.check-settings').show();
                $('.wc-thresholds').show();
                break;
        }

        // Generate the full API URL
        var url = generate_url(true);

        // Grab the actual json data and show module accessors
        if (module != 'processes' && module != 'windowscounters' && module != 'logs' && module != 'services') {
            $.get(url, { }, function(data) {
                var select = $('<select>', { class: 'form-control submod' });
                select.append('<option></option>');

                if (module == 'plugins') {
                    $(data[module]).each(function(i, obj) {
                        var opt = $('<option>' + obj + '</option>');
                        select.append(opt);
                    });
                } else {
                    var keys = Object.keys(data[module]);
                    $(keys).each(function(i, obj) {
                        var opt = $('<option>' + obj + '</option>');
                        select.append(opt);
                    });
                }

                $('.selector').append(select);
            }, 'json');
        } else if (module == 'services') {
            add_service_selector();
        } else if (module == 'processes') {
            add_filter_selector();
        }

        // Set URL of link and iframe
        $.get(url, { }, function(json) {
            $('#api-frame div').html(JSON.stringify(json, null, 4));
            clear_load();
        });
        $('#api-input').val(url);
    });

    $('#reload').click(function() {
        reload_api_browser();
    });

    // If the checkbox for running as a nagios check is checked, then we should
    // display the button to show the check_ncpa.py version
    $('input.check').change(function() {
        toggle_check_ncpa_btn();
    });

    // Add services for service checks
    $('.add-service').click(function() {
        add_service_selector();
    });

    $('.add-filter').click(function() {
        add_filter_selector();
    });

    // Special refresh selector
    $('.selector').on('change', '.refresh-select', function() {
        reload_api_browser();
    });

    // Special CPU module selector to show aggregation field
    $('.selector').on('change', '.submod', function() {
        var module = $('#module').val();
        var selected = $(this).val();
        
        switch (module)
        {
            case 'cpu':
                if (selected != '') {
                    if (selected != 'count') {
                        $('.data-settings').show();
                        $('.data-settings .agg').show();
                        $('.data-settings .unit-prefix').hide();
                    } else {
                        $('.data-settings').hide();
                    }
                    $('.check-settings').show();
                    $('.wc-thresholds').show();
                } else {
                    clear_settings();
                    $('.settings').hide();
                }
                break;

            case 'memory':
                $('.data-settings').show();
                $('.data-settings .unit-prefix').show();
                $('.data-settings .agg').hide();
                if (selected != '') {
                    $('.check-settings').show();
                    $('.wc-thresholds').show();
                    var url = generate_url(true);
                    $.get(url, { }, function(data) {
                        var endnode = data[selected];
                        var keys = Object.keys(endnode);
                        var endselect = $('<select>', { class: 'form-control refresh-select memory-end-node' });
                        endselect.append('<option></option>');
                        $(keys).each(function(i, val) {
                            endselect.append('<option>' + val + '</option>');
                        });
                        if ($('.selector .memory-end-node').length > 0) {
                            $('.selector .memory-end-node').replaceWith(endselect);
                        } else {
                            $('.selector').append(endselect);
                        }
                    });
                } else {
                    clear_settings();
                    $('.check-settings').hide();
                    $('.selector .memory-end-node').remove();
                }
                break;

            case 'interface':
                if (selected != '') {
                    $('.check-settings').show();
                    $('.data-settings').show();
                    $('.data-settings .unit-prefix').show();
                    $('.data-settings .agg').hide();
                    $('.wc-thresholds').show();
                    var url = generate_url(true);
                    $.get(url, { }, function(data) {
                        var endnode = data[selected];
                        var keys = Object.keys(endnode);
                        var endselect = $('<select>', { class: 'form-control refresh-select interface-end-node' });
                        endselect.append('<option></option>');
                        $(keys).each(function(i, val) {
                            endselect.append('<option>' + val + '</option>');
                        });

                        // Add change selector to show data settings or not
                        endselect.change(function() {
                            var show_data = ['', 'bytes_recv', 'bytes_sent'];
                            if (show_data.indexOf($(this).val()) == -1) {
                                $('.data-settings').hide();
                                $('.data-settings .units').val('');
                            } else {
                                $('.data-settings').show();
                            }
                        });

                        if ($('.selector .interface-end-node').length > 0) {
                            $('.selector .interface-end-node').replaceWith(endselect);
                        } else {
                            $('.selector').append(endselect);
                        }
                    });
                } else {
                    clear_settings();
                    $('.check-settings').hide();
                    $('.selector .interface-end-node').remove();
                }
                break;

            case 'plugins':
                break;

            case 'disk':
                $('.selector-disk').html('').show();
                if (selected != '') {
                    $('.data-settings').show();
                    $('.data-settings .unit-prefix').show();
                    $('.data-settings .agg').hide();
                    if (selected == 'mount') {
                        $('.check-settings').hide();
                        break;
                    }
                    var url = generate_url(true);
                    $.get(url, { }, function(data) {
                        TMP_JSON = data[selected];
                        var select = $('<select>', { class: 'form-control' });

                        // Add first set of keys
                        var keys = Object.keys(TMP_JSON);
                        select.append('<option></option>');
                        $(keys).each(function(i, val) {
                            select.append('<option>' + val + '</option>');
                        });

                        // Add selector to the first select for the endnode
                        select.change(function() {
                            var endselect = $('<select>', { class: 'form-control end-node' });
                            endselect.append('<option></option>');
                            if ($(this).val() != '') {
                                $('.check-settings').show();
                                $('.wc-thresholds').show();
                                var endnode = TMP_JSON[$(this).val()];
                                var keys = Object.keys(endnode);
                                $(keys).each(function(i, val) {
                                    endselect.append('<option>' + val + '</option>');
                                });
                                endselect.change(function() {
                                    reload_api_browser();
                                });
                            } else {
                                endselect.prop('disabled', true);
                                $('.check-settings').hide();
                            }
                            $('.selector-disk .end-node').replaceWith(endselect);
                            reload_api_browser();
                        });

                        var emptyselect = $('<select>', { class: 'form-control end-node' }).prop('disabled', true);
                        $('.selector-disk').append(select).append(emptyselect).show();

                    }, 'json');
                } else {
                    $('.check-settings').hide();
                }
                break;
        }
        reload_api_browser();
    });

    // Examples for counters (so it's easier to see how to use them)
    $('.example').click(function() {
        var counter = $(this).data('counter');
        var sleep = $(this).data('sleep');

        $('.windows-counter').val(counter);

        if (sleep == 0) {
            $('.sleep').val('');
        } else {
            $('.sleep').val(sleep);
        }

        reload_api_browser();
    });

});

function reload_api_browser() {
    load();
    var url = generate_url();
    // Set URL of link and iframe
    $.get(url, { }, function(json) {
        $('#api-frame div').html(JSON.stringify(json, null, 4));
        clear_load();
    }, 'json');
    $('#api-input').val(url);
}

function load() {
    var top = $('#api-input').outerHeight() + $('.navbar').outerHeight();
    var h = $('#api-frame').outerHeight();
    var w = $('#api-frame').outerWidth();
    $('.whiteout').css('top', top)
                  .css('height', h)
                  .css('width', w);
    $('.whiteout').show();
}

function clear_load() {
    $('.whiteout').hide();
}

function add_service_selector() {
    var select = $('<select>', { class: 'form-control service' });
    select.append('<option></option>');

    // Special output for selecting service(s)
    $.get(generate_url(true), { }, function(data) {
        var keys = Object.keys(data['services']);
        $(keys).each(function(i, obj) {
            var opt = $('<option>' + obj + '</option>');
            select.append(opt);
        });
    });

    $('.service-settings .list').append(select);
}

function add_filter_selector() {
    var filter = '<div class="filter-group"><select class="form-control filter-name" style="display: inline-block; width: 35%; border-right: 0;"><option value="name">name</option><option value="exe">exe</option></select><input type="text" class="form-control filter-text" style="display: inline-block; width: 65%;"></div>';
    $('.filter-settings .list').append(filter);
}

function generate_url(skip_settings=false) {
    var api = window.location.protocol + '//' + window.location.hostname;
    if (window.location.port) {
        api += ':' + window.location.port;
    }
    api += '/api';

    // Add module to api call
    var module = $('#module').val();
    if (module == '') {
        return api;
    }
    api += '/' + module;

    // Add in any submodules there are
    if ($('.selector select:not(:first-of-type)').length > 0) {
        $('.selector select:not(:first-of-type)').each(function(i, name) {
            if ($(name).val() != '') {
                api += '/' + $(name).val();
            }
        });
    }

    // Grab values from other modules
    $('.selector-disk select').each(function(i, v) {
        var sel = $(v).val();
        if (sel != '' && sel != null) {
            api += '/' + $(v).val();
        }
    });

    // Grab windows-counter
    if ($('.windows-counter').val() != '') {
        var counter = decodeURIComponent($('.windows-counter').val());
        counter = counter.replace(/\\/g, '/');
        if (counter.charAt(0) == '/') {
            counter = counter.substr(1);
        }
        api += '/' + counter.replace(/\/sec/, '%2Fsec');
        $('.windows-counter').val('/' + decodeURIComponent(counter));
    }

    if (skip_settings) {
        return api;
    }

    //console.log(api);
    var extra = '';
    var url = api;

    // Apply filters based on type
    if (module == 'services') {
        $('.service').each(function(i, service) {
            var val = $(service).val();
            if (val != '') {
                extra += '&service=' + val;
            }
        });
    }

    // Apply filters for processes
    if (module == 'processes') {
        $('.filter-group').each(function(i, filter) {
            var filter_text = $(filter).find('.filter-text').val();
            var filter_name = $(filter).find('.filter-name').val();
            if (filter_text != '' && filter_text != undefined) {
                extra += '&' + filter_name + '=' + filter_text;
            }
        });
    }

    // Grab aggregation settings
    var aggregate = $('.aggregate').val();
    if (aggregate != '') {
        extra += '&aggregate=' + aggregate;
    }

    // Grab users
    var units = $('.units').val();
    if (units != '') {
        extra += '&units=' + units;
    }

    // Grab sleep timer
    var sleep = $('.sleep').val();
    if (sleep != '') {
        extra += '&sleep=' + sleep;
    }

    // Grab name if logs
    if (module == 'logs') {
        var name = $('.name').val();
        if (name != '') {
            extra += '&name=' + name;
        }
    }

    // Grab check settings
    if ($('.check').is(':checked')) {
        if (extra) { extra += '&'; }
        extra += 'check=true';

        // Do warning / critical checks
        var warn = $('.warn').val();
        var crit = $('.crit').val();
        if (warn) {
            extra += '&warning=' + warn;
        }
        if (crit) {
            extra += '&critical=' + crit;
        }

        // Check for status if services
        var status = $('.status').val();
        if (status) {
            extra += '&status=' + status;
        }
    }

    // Add extra to url
    if (extra) {
        extra = extra.replace(/^&/, '');
        url = url + '?' + extra;
    }

    return url;
}

function toggle_check_ncpa_btn() {
    if ($('input.check').is(':checked')) {
        $('.btn-check-ncpa').show();
    } else {
        $('.btn-check-ncpa').hide();
    }
}

function clear_settings() {
    $('.settings input[type="checkbox"]').attr('checked', false);
    $('.settings input').val('');
    $('.data-settings select.aggregate').val('');
    $('.data-settings select.units').val('');
}

function resize_api_window() {
    var h = $(window).height() - $('nav').outerHeight();
    var w = $(window).width() - 300;
    $('#api-input-control').css('height', h);
    $('#api-input-control .max').css('max-height', h-40);
    if (h-92 < $('#api-input-control .selection-box').outerHeight()) {
        $('.btn-check-ncpa').css('position', 'relative')
                            .css('width', '100%')
                            .css('bottom', 0);
        $('#api-input-control .max').css('padding-right', 10);
    } else {
        $('.btn-check-ncpa').css('position', 'absolute')
                            .css('width', '260px')
                            .css('bottom', 20);
    }
    $('#api-frame').css('height', h - $('#api-input').outerHeight());
    $('#api-table').css('max-width', w);
}
</script>
{% endblock %}

{% block content %}
<div style="display: table; width: 100%;">
    <div class="well" id="api-input-control" style="width: 300px; min-width: 300px; vertical-align: top; display: table-cell; position: relative;">
        <div class="max" style="overflow-y: auto;">
            <div class="selection-box">
                <div class="selector">
                    <label>API Endpoint</label>
                    <select class="form-control" id="module">
                        <option></option>
                        <option>cpu</option>
                        <option>disk</option>
                        <option>plugins</option>
                        <option>interface</option>
                        <option>memory</option>
                        <option>processes</option>
                        <option>services</option>
                        <option>system</option>
                        {% if system == "Windows" %}
                        <option>logs</option>
                        <option>windowscounters</option>
                        {% endif %}
                    </select>
                </div>
                <div class="selector-extra"></div>
                <div class="selector-disk"></div>
                <div class="settings log-name-selector">
                    <label>Log Names <i class="fa fa-question-circle pop-bind fa-r fa-14" style="cursor: help;" title="Log Names" data-content="In order to see any logs in the logs endpoint you need to select the types of logs to get. In Windows, they are sorted by log names. Examples are <i>'Application', 'Security', 'Setup', 'System', 'Forwarded Events'</i>"></i></label>
                    <div class="input-group">
                        <div class="input-group-addon">Name</div>
                        <input type="text" class="form-control name" placeholder="System">
                    </div>
                </div>
                <div class="settings log-filters">
                    <label>Log Filter Settings</label>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <div class="input-group-addon tt-bind" title="severity">EventType</div>
                        <select class="form-control severity">
                            <option></option>
                            <option value="ERROR">Error</option>
                            <option value="WARNING">Warning</option>
                            <option value="INFORMATION">Information</option>
                            <option value="AUDIT_FAILURE">Audit Failure</option>
                            <option value="AUDIT_SUCCESS">Audit Success</option>
                        </select>
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <div class="input-group-addon tt-bind" title="event_id">EventID</div>
                        <input type="text" class="form-control event_id" placeholder="# match">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <div class="input-group-addon tt-bind" title="application">SourceName</div>
                        <input type="text" class="form-control application" placeholder="match">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <div class="input-group-addon tt-bind" title="computer_name">ComputerName</div>
                        <input type="text" class="form-control computer_name" placeholder="match">
                    </div>
                    <div class="input-group" style="margin-bottom: 5px;">
                        <div class="input-group-addon tt-bind" title="category">EventCategory</div>
                        <input type="text" class="form-control category" placeholder="match">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon tt-bind" title="message">Message</div>
                        <input type="text" class="form-control message" placeholder="search / regex">
                    </div>
                </div>
                <div class="settings selector-counters">
                    <div>
                        <label class="fl">Windows Counter <i class="fa fa-question-circle pop-bind fa-r fa-14" style="cursor: help;" title="Windows Counter" data-content="<p>Since there are tons of windows counters, we cannot list them all. If you'd like a list of available counters, run the following command in the command prompt:</p> <pre>TypePerf.exe –q</pre> <p>The command should give you a list of available counters on any version of Windows over Windows 2000.</p> <p><em>Note: Not all counters have data that can be used by NCPA (must be numeric). Per second counters <b>must</b> be given a sleep amount or they will not return data.</em></p>"></i></label>
                        <div class="fr">Examples: <a class="example tt-bind" data-counter="/TCPv4/Connections Active" data-sleep="0" title="Counter example"><i class="fa fa-asterisk fa-14"></i></a> <a class="example tt-bind" data-counter="/TCPv4/Segments Received/sec" data-sleep="5" title="Per second counter example"><i class="fa fa-bar-chart fa-14"></i></a></div>
                        <div class="clear"></div>
                    </div>
                    <input type="text" class="form-control windows-counter" placeholder="ex: /TCPv4/Connections Active">
                </div>
                <div class="settings service-settings">
                    <label>Select Service(s)</label>
                    <div class="list"></div>
                    <div>
                        <button type="button" class="btn btn-xs btn-default add-service">
                            <i class="fa fa-plus"></i> Add Service
                        </button>
                    </div>
                </div>
                <div class="settings filter-settings">
                    <label>Filter(s)</label>
                    <div class="list"></div>
                    <div>
                        <button type="button" class="btn btn-xs btn-default add-filter">
                            <i class="fa fa-plus"></i> Add Filter
                        </button>
                    </div>
                </div>
                <div class="settings data-settings">
                    <label>Data Settings</label>
                    <div class="input-group agg">
                        <div class="input-group-addon">Aggregate</div>
                        <select class="form-control aggregate">
                            <option></option>
                            <option value="avg">average</option>
                            <option value="min">minumum</option>
                            <option value="max">maximum</option>
                            <option value="sum">sum</option>
                        </select>
                    </div>
                    <div class="input-group unit-prefix">
                        <div class="input-group-addon">Unit prefix</div>
                        <select class="form-control units">
                            <option></option>
                            <option value="k">k</option>
                            <option value="Ki">Ki</option>
                            <option value="M">M</option>
                            <option value="Mi">Mi</option>
                            <option value="G">G</option>
                            <option value="Gi">Gi</option>
                            <option value="T">T</option>
                            <option value="Ti">Ti</option>
                        </select>
                    </div>
                </div>
                <div class="settings check-settings">
                    <label>Check Settings</label>
                    <div class="checkbox">
                        <label><input type="checkbox" class="check" name="check" value="1"> Run as a Nagios check</label>
                    </div>
                    <div class="status-check hide-by-default">
                        <div class="input-group">
                            <div class="input-group-addon">Status <i class="fa fa-question-circle pop-bind" title="Service Status" data-content="<b>Default is running</b>.<br>The status option is what the service's status should be. If it does not match the set status, it will return a critical result."></i></div>
                            <select class="status form-control">
                                <option></option>
                                <option value="running">running</option>
                                <option value="stopped">stopped</option>
                            </select>
                        </div>
                    </div>
                    <div class="wc-thresholds hide-by-default form-inline">
                        <div class="input-group">
                            <div class="input-group-addon"><img src="../../static/img/warning.png" class="tt-bind" title="Warning threshold"></div>
                            <input type="text" class="form-control warn" placeholder="Warning">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><img src="../../static/img/critical.png" class="tt-bind" title="Critical threshold"></div>
                            <input type="text" class="form-control crit" placeholder="Critical">
                        </div>
                    </div>
                </div>
                <div class="settings advanced-settings">
                    <label>Advanced Settings</label>
                    <div class="input-group">
                        <div class="input-group-addon">Sleep for <i class="fa fa-question-circle pop-bind" title="Sleep (Generate Data Per Second)" data-content="<p>When checking for data such as per second counters or delta values, the sleep value is used to generate the data/sec value.</p><p>NCPA will wait the amount of sleep time specified, collecting the data that comes in between the start and end time of the sleep time.</p><p>The calculation when using a sleep value:<br><b>sum(data) / sleep = data/sec</b></p><p>Sleep value is in seconds.</p>"></i></div>
                        <input type="text" class="form-control sleep" placeholder="# of">
                        <div class="input-group-addon">seconds</div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <button class="btn btn-sm btn-primary" id="reload"><i class="fa fa-refresh fa-l"></i> Reload</button>
                </div>
            </div>
            <div class="btn-check-ncpa btn-group dropup">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-external-link-square fa-l"></i> View in alternate format <i class="fa fa-chevron-up fa-r"></i></button>
                <ul class="dropdown-menu">
                    <li><a>As active check using <em>check_ncpa.py</em></a></li>
                    <li><a>As passive check config definition</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="api-table" style="display: table-cell;">
        <div class="whiteout">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <input class="form-control" id="api-input" style="vertical-align: top;" readonly type="text">
        <div style="vertical-align: top; overflow-y: scroll;" id="api-frame">
            <div></div>
        </div>
    </div>
</div>
{% endblock %}