{% extends 'base.html' %}

{% block title %}Graphs{% endblock %}

{% block headerjs %}
<script type="text/javascript" src="/static/js/smoothie.js"></script>
<script type="text/javascript">

var TEMP = { };
var GRAPHABLES = [
    'disk',
    'interface',
    'memory',
    'cpu'
];

function get_graph_url() {
    var graph_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/graph';

    // Add on API endpoints
    $('.api-select select').each(function(i, v) {
        var endpoint = $(v).val();
        if (endpoint != '') {
            graph_url += '/' + encodeURIComponent(endpoint);
        }
    });

    var delta = $('#delta:checked').val();
    var unit_prefix = $('#unit_prefix').val();
    var unit = $('input[name=unit]').val();
    var agg = $('input[name=agg]').val();

    var query_args = {};

    if (agg != '') {
        query_args['aggregate'] = agg;
    }

    if (delta) {
        query_args['delta'] = 1;
    }

    if (unit_prefix != '') {
        query_args['units'] = unit_prefix;
    }

    if (unit) {
        query_args['unit'] = unit;
    }

    var qs = $.param(query_args);
    return (qs) ? graph_url + '?' + qs : graph_url;
}

function render_graph(target) {
    var graph_content = $('#graph-content');
    var graph_url = get_graph_url();

    $('#not-renderable').hide();
    $('#graph-address-url').val(decodeURI(graph_url));
    $('.ncpa-graph').trigger('doUnload');

    graph_content.empty();
    graph_content.load(graph_url);
}

function generate_select(obj) {
    var select = $('<select>', { 'class': 'form-control nodes' });
    $.each(obj, function(k, value) {
        if (k == 'opts' || k == 'fstype' || k == 'device_name') { return; }
        select.append($('<option>', { value: k, text: k }));
    });
    $('#graph-selector-div').append(select);
    if (is_object(obj[Object.keys(obj)[0]])) {
        generate_select(obj[Object.keys(obj)[0]]);
    }
}

function get_module_selects(api_address) {
    $('#graph-selector-div').html('');
    var select = $('<select>', { 'class': 'form-control' });

    $.getJSON(api_address, function(d) {
        var module = $('#modules').val();
        TEMP = d[module];

        // Remove 'mount' if we are doing disk
        if (module == 'disk') {
            delete TEMP.mount;
        }

        $.each(TEMP, function(k, value) {
            if (k == 'mount') { return; }
            select.append($('<option>', { value: k, text: k }));
        });

        // Append the change event
        select.change(function() {
            $('.nodes').remove();
            if (is_object(TEMP[$(this).val()])) {
                generate_select(TEMP[$(this).val()]);
            }
        });

        $('#graph-selector-div').append(select);

        // Generate dynamic selects based on first one if it's an actual object
        var obj = TEMP[Object.keys(TEMP)[0]];
        if (is_object(obj)) {
            generate_select(obj);
        }
    });
}

function is_object(val) {
    if (val instanceof Array) {
        return false;
    } else if (val instanceof Object) {
        return true;
    }
    return false;
}

$(document).ready(function() {
    $('#graphs-nav').addClass('active');
    get_module_selects('/api/' + $('#modules').val());

    $('#modules').change(function() {
        var module = $(this).val();

        switch (module) {

            case 'cpu':
                $('#unit-prefix-box').hide();
                break;

            default:
                $('#unit-prefix-box').css('display', 'table');
                break;

        }

        get_module_selects('/api/' + $(this).val());
    });

    $('#graph-address-url').click(function() {
        $(this).select();
    });

    $('#refresh-graph').click(function() {
        render_graph();
    });
});
</script>
{% endblock headerjs %}

{% block headercss %}
<link rel='stylesheet' href='/static/css/ncpa-graph.css'>
{% endblock %}

{% block undernav %}
<div class="undernav">
    <div class="well" style="margin: 0; border-bottom: 0;">

        <div class="api-select fl">
            <span style="font-weight: bold; margin-right: 10px;">API Endpoint</span>
            <select id="modules" style="display: inline-block; width: auto;" class="form-control">
                <option value="cpu">cpu</option>
                <option value="interface">interface</option>
                <option value="memory">memory</option>
                <option value="disk">disk</option>
            </select>
            <div id="graph-selector-div"></div>
        </div>

        <div class="input-group fl" style="width: 100px; margin-left: 20px;">
            <label class="input-group-addon">Delta <i class="fa fa-question-circle pop-bind" role="button" tabindex="0" title="Delta Values" data-content="When using the delta setting, the value given will be calculated 'per second' and will update the units to show this change. Only certain endpoints allow for delta values."></i></label>
            <span class="white-box">
                <input type="checkbox" id="delta" style="vertical-align: middle; margin: 0;" value="1">
            </span>
        </div>

        <div class="input-group hide fl" id="unit-prefix-box" style="width: 140px; margin-left: 20px;">
            <label class="input-group-addon">Unit prefix</label>
            <select id="unit_prefix" class="form-control">
                <option></option>
                <option>k</option>
                <option>Ki</option>
                <option>M</option>
                <option>Mi</option>
                <option>G</option>
                <option>Gi</option>
                <option>T</option>
                <option>Ti</option>
            </select>
        </div>

        <button id="refresh-graph" class="btn btn-sm btn-primary" style="margin-left: 20px;" type="button">Generate</button>
    </div>
    <div class="control-group graph-url-input">
        <input type="text" class="form-control" style="width: 100%;" id="graph-address-url" value="" placeholder="Graph URL" readonly>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    <div class="well row hide">
        <div id="graph-options-div">
            <form class="form-horizontal">
                <div>
                    <label for="label-delta" class="control-label extra-label">Delta</label>
                    <label class="radio-inline">
                        <input type="radio" id="label-delta" name="delta" value="off" checked>Off
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="delta" value="on">On
                    </label>
                </div>
                <div class="control-group">
                    <label for="input-unit" class="control-label extra-label">Unit</label>
                    <div class="control">
                        <input type="text" name="unit" id="input-unit" placeholder="Use Default">
                    </div>
                </div>
                <input type="text" name="agg">
            </form>
        </div>
    </div>

    <div id="graph-render-target" style="margin-top: 70px;">
        <div id="not-renderable">
            <h3>Not Options Selected</h3>
            <p>Select an API endpoint and graphing options above and hit 'Generate' to create a custom real-time graph</p>
        </div>
        <div id="graph-content"></div>
    </div>

</div>
{% endblock content %}