{% extends 'base.html' %}

{% block title %}Graphs{% endblock %}

{% block headerjs %}
<script type="text/javascript">
var GRAPHABLES = [
    'disk',
    'interface',
    'memory',
    'cpu'
];

function get_next_select(api_address, selection) {
    var select = $('<select>', {'data-children': api_address, 'class': 'form-control'});

    $.getJSON(api_address, function(d) {
        var element = d[selection];
        var bind_graph = false;
        $.each(element, function(k, v) {

            select.append($('<option>', {value: k, text: k, 'data-children': k}));

            if (element[k] instanceof Array) {
                select.attr('id', 'graph-bringer');
                bind_graph = true;
            }
        });

        if (bind_graph) {
            select.change(function(e) {
                render_graph($(e.target));
            });
        } else {
            select.change(function(e) {
                $('.gsel').remove();
                populate_next_select(e);
            });
        }

        select.trigger('change');
    });

    return select;
}

function get_graph_url() {
    var graph_url = window.location.protocol + '//' + window.location.hostname + ':' + window.location.port + '/graph';

    // Add on API endpoints
    $('.api-select select').each(function(i, v) {
        var endpoint = $(v).val();
        if (endpoint != '') {
            graph_url += '/' + endpoint;
        }
    });

    var delta = $('#delta:checked').val();
    var unit_prefix = $('#unit-prefix').val();
    var unit = $('input[name=unit]').val();
    var agg = $('input[name=agg]').val();

    console.log(delta);

    var query_args = {};

    if (agg != '') {
        query_args['aggregate'] = agg;
    }

    if (delta) {
        query_args['delta'] = 1;
    }

    if (unit_prefix != '') {
        query_args['units'] = unit_prefix;
    }

    if (unit) {
        query_args['unit'] = unit;
    }

    var qs = $.param(query_args);
    return (qs) ? graph_url + '?' + qs : graph_url;
}

function render_graph(target) {
    var graph_content = $('#graph-content');
    var graph_url = get_graph_url();

    $('#not-renderable').hide();
    $('#graph-address-url').val(graph_url);
    $('.ncpa-graph').trigger('doUnload');

    graph_content.empty();
    graph_content.load(graph_url);
}

function populate_next_select(e) {
    var current = $(e.target);
    var current_value = current.val();
    var next_url = current.attr('data-children') + '/' + current_value;

    var next_select = get_next_select(next_url, current_value);

    var graph_selector_div = $('#graph-selector-div');
    graph_selector_div.append(next_select);
}

function generate_select(obj) {
    var select = $('<select>', { 'class': 'form-control' });
    $.each(obj, function(k, value) {
        select.append($('<option>', { value: k, text: k }));
    });
    $('#graph-selector-div').append(select);
}

function get_module_selects(api_address) {
    $('#graph-selector-div').html('');
    var select = $('<select>', { 'class': 'form-control' });
    $.getJSON(api_address, function(d) {
        generate_select(d[$('#modules').val()]);
    });
}

$(document).ready(function() {
    $('#graph-picker-nav').addClass('active');
    get_module_selects('/api/' + $('#modules').val());

    $('#modules').change(function() {
        get_module_selects('/api/' + $(this).val());
    });

    $('#graph-address-url').click(function() {
        $(this).select();
    });

    $('#refresh-graph').click(function() {
        render_graph();
    });
});
</script>
{% endblock headerjs %}

{% block headercss %}
<link rel='stylesheet' href='/static/css/ncpa-graph.css'>
{% endblock %}

{% block undernav %}
<div class="undernav">
    <div class="well" style="margin: 0; border-bottom: 0;">

        <div class="api-select fl">
            <span style="font-weight: bold; margin-right: 10px;">API Endpoint</span>
            <select id="modules" style="display: inline-block; width: auto;" class="form-control">
                <option value="cpu">cpu</option>
                <option value="interface">interface</option>
                <option value="memory">memory</option>
                <option value="disk">disk</option>
            </select>
            <div id="graph-selector-div"></div>
        </div>

        <div class="input-group fl" style="width: 100px; margin-left: 20px;">
            <label class="input-group-addon">Delta <i class="fa fa-question-circle"></i></label>
            <span style="display: inline-block; background-color: #FFF; border: 1px solid #CCC; width: 30px; height: 30px; line-height: 28px; text-align: center;">
                <input type="checkbox" id="delta" style="vertical-align: middle; margin: 0;" value="1">
            </span>
        </div>

        <div class="input-group fl" style="width: 140px; margin-left: 20px;">
            <label class="input-group-addon">Unit Prefix</label>
            <select id="unit_prefix" class="form-control">
                <option></option>
                <option>k</option>
                <option>Ki</option>
                <option>M</option>
                <option>Mi</option>
                <option>G</option>
                <option>Gi</option>
                <option>T</option>
                <option>Ti</option>
            </select>
        </div>

        <button id="refresh-graph" class="btn btn-sm btn-primary" style="margin-left: 20px;" type="button">Generate</button>
    </div>
    <div class="control-group graph-url-input">
        <input type="text" class="form-control" style="width: 100%;" id="graph-address-url" value="" placeholder="Graph URL" readonly>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    <div class="well row hide">
        <div id="graph-options-div">
            <form class="form-horizontal">
                <div>
                    <label for="label-delta" class="control-label extra-label">Delta</label>
                    <label class="radio-inline">
                        <input type="radio" id="label-delta" name="delta" value="off" checked>Off
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="delta" value="on">On
                    </label>
                </div>
                <div class="control-group">
                    <label for="input-unit" class="control-label extra-label">Unit</label>
                    <div class="control">
                        <input type="text" name="unit" id="input-unit" placeholder="Use Default">
                    </div>
                </div>
                <input type="text" name="agg">
            </form>
        </div>
    </div>

    <div id="graph-render-target" style="margin-top: 70px;">
        <div id="not-renderable">
            <h3>Not Options Selected</h3>
            <p>Select an API endpoint and graphing options above and hit 'Generate' to create a custom real-time graph</p>
        </div>
        <div id="graph-content"></div>
    </div>

</div>
{% endblock content %}