*.pyc
*.log*
*.csr
*.key
*.crt
*.cfg
.idea/
.vagrant
.coverage
.cover
.cache/
.vscode/
docs/_build
*.exe
ncpa.db
prereqs.installed
.python-version
launch.json

agent/build
agent/plugins/*
# agent/var/log/*
agent/var/run/*.pid

build/resources/*.tgz
build/resources/Python*/*
build/resources/openssl/*
build/bin
build/include
build/lib
build/ncpa.spec
build/ncpa
build/ncpa-3*/
build/ncpa-3*/
build/NCPA-INSTALL-*/
build/*.deb
build/*.rpm
build/*.dmg
build/share
build/NCPA-INSTALL-*/*
