language: python
python:
  - "2.7"
 # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
 # maintainers to fix their pypy-dev package.
 # command to install dependencies
 install:
  - pip install -r requirements.txt
 # command to run tests
 script: sh agent/run_tests.sh
