<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.nagios.ncpa.passive</string>
        <key>RunAtLoad</key>
        <true/>
        <key>WorkingDirectory</key>
        <string>/usr/local/ncpa</string>
        <key>Program</key>
        <string>/usr/local/ncpa/ncpa_passive</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/ncpa/ncpa_passive</string>
            <string>-n</string>
        </array>
    </dict>
</plist>
