[Unit]
Description=NCPA Passive
Documentation=https://www.nagios.org/ncpa
After=network.target local-fs.target

[Service]
ExecStart=/usr/local/ncpa/ncpa_passive -n

[Install]
WantedBy=multi-user.target
