<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>KeepAlive</key>
        <dict>
            <key>NetworkState</key>
            <true/>
        </dict>
        <key>UserName</key>
        <string>nagios</string>
        <key>GroupName</key>
        <string>nagcmd</string>
        <key>Program</key>
        <key>ProgramArguments</key>
        <array>
                <string>/usr/local/ncpa/ncpa_posix_passive</string>
                <string>--start</string>
        </array>
        <key>inetdCompatibility</key>
        <dict>
            <key>Wait</key>
            <false/>
        </dict>
        <key>Label</key>
        <string>org.nagios.ncpa.passive</string>
    </dict>
</plist>
