<!DOCTYPE html>
<html lang='en'>
    <head>
        {% block headercss %}
        <link rel='stylesheet' href='/static/css/bootstrap.css' />
        <link rel='stylesheet' href='/static/css/bootstrap-responsive.css' />
        <link rel='stylesheet' href='/static/css/ncpa.css' />
        {% endblock %}
        <title>NCPA Web Interface</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="NCPA Frontend">
        <meta name="author" content="Nicholas Scott">
        <script src='/static/js/jquery-1.8.3.min.js'></script>
        <script src='/static/js/bootstrap.js'></script>
        <script src='/static/js/d3.v3.min.js'></script>
        <script src='/static/js/ncpa-page-init.js'></script>
        {% block headerjs %}
        {% endblock %}
    </head>
    <body>
        <div class='navbar navbar-inverse navbar-top'>
            <div class='navbar-inner'>
                <div class='container-fluid'>
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class='brand' href='#'>NCPA Interface</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            {% if not hide_page_links %}
                                <li id="home-nav"><a href="/">Home</a></li>
                                <li id="dashboard-nav"><a href="/dashboard">Dashboard</a></li>
                                <li id="navigator-nav"><a href="/api">API</a></li>
                                <li id="top-nav"><a href="/top-base">Top Processes</a></li>
                                <li id="graph-picker"><a href="/graph-picker">Graphs</a></li>
                                <li><a href="/logout">Logout</a></li>
                                <li><a href="/static/help/index.html">Help</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class='container' id="main-content-container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
