{% extends 'base.html' %}

{% block headerjs %}
		<style>
			/* tell the SVG path to be a thin blue line without any area fill */
			path {
				stroke: steelblue;
				stroke-width: 3;
				fill:none;
			}
		</style>

<script>
    
var d_height = 180;
var d_width = 400;

var graphs = []
graphs.push({   'address': '/api/memory/swap/percent',
                'accessor': 'percent',
                'id': 'swappercent',
                'val': 'swapval',
                'height': d_height,
                'width': d_width,
                'update_duration': 1000,
                'transition_duration': 1000,
                'ydomain': 100 });
                
graphs.push({   'address': '/api/memory/virtual/percent',
                'accessor': 'percent',
                'id': 'memorypercent',
                'val': 'memoryval',
                'height': d_height,
                'width': d_width,
                'update_duration': 1000,
                'transition_duration': 1000,
                'ydomain': 100 });
                
graphs.push({   'address': '/api/cpu/percent',
                'accessor': 'percent',
                'id': 'cpupercent',
                'val': 'cpuval',
                'height': d_height,
                'width': d_width,
                'update_duration': 1000,
                'transition_duration': 1000,
                'count': {{cpucount}},
                'ydomain': 100 });
                
graphs.push({   'address': '/api/user/count',
                'accessor': 'count',
                'id': 'usercount',
                'val': 'userval',
                'height': d_height,
                'width': d_width,
                'update_duration': 1000,
                'transition_duration': 1000,
                'ydomain': 100 });

{% for disk in disks %}
graphs.push({   'address': '/api/disk/logical/{{disk.get("raw")}}/used_percent',
                'accessor': 'used_percent',
                'id': '{{disk.get("safe")}}percent',
                'val': '{{disk.get("safe")}}val',
                'height': d_height,
                'width': d_width,
                'update_duration': 1000,
                'transition_duration': 1000,
                'ydomain': 100 });
{% endfor %}


{% for interface in interfaces %}
graphs.push({   'address': '/api/interface/{{interface.get("raw")}}/bytes_recv',
                'accessor': 'bytes_recv',
                'id': '{{interface.get("safe")}}inbound',
                'val': '{{interface.get("safe")}}valinbound',
                'height': d_height,
                'width': d_width,
                'update_duration': 1000,
                'transition_duration': 1000,
                'delta': 1,
                'scale': 'linear',
                'ydomain': 100 });
                
graphs.push({   'address': '/api/interface/{{interface.get("raw")}}/bytes_sent',
                'accessor': 'bytes_sent',
                'id': '{{interface.get("safe")}}outbound',
                'val': '{{interface.get("safe")}}valoutbound',
                'height': d_height,
                'width': d_width,
                'update_duration': 1000,
                'transition_duration': 1000,
                'delta': 1,
                'scale': 'linear',
                'ydomain': 100 });
{% endfor %}


function display_graph(graphinfo, update_delay, transition_delay) {
    
    var margin = 0;
    
    // create an SVG element inside the #graph div that fills 100% of the div
    var graph = d3.select('#' + graphinfo.id)
                    .append("svg")
                    .attr("class", "chart")
                    .attr("width", graphinfo.width)
                    .attr("height", graphinfo.height)
                    .append("g")
                    .attr("transform", "translate(50,-20)");

    var data = [];
    
    var x = d3.scale.linear().domain([0, 60]).range([0,graphinfo.width - 50]);
    
    if(graphinfo.scale == 'log') {
        y = d3.scale.log().domain([0, graphinfo.ydomain]).range([graphinfo.height - 30, 30]);
    }
    else {
        y = d3.scale.linear().domain([0, graphinfo.ydomain]).range([graphinfo.height - 30, 30]);
    }
    var yAxis = d3.svg.axis()
                    .scale(y)
                    .orient("left");
    
    var xAxis = d3.svg.axis()
                    .scale(x)
                    .orient("top");
    
    graph.selectAll("line.y")
        .data(y.ticks(5))
        .enter()
        .append("line")
        .attr("class", "y")
        .attr("x1", 0)
        .attr("x2", graphinfo.width)
        .attr("y1", y)
        .attr("y2", y)
        .style("stroke", "#ccc");
    
    graph.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            //~ .attr("transform", "rotate(-90)")
            .attr("y", 2)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
    
    // create a line object that represents the SVN line we're creating
    var line = d3.svg.line()
        // assign the X function to plot our line as we wish
        .x(function(d,i) { 
            // verbose logging to show what's actually being done
            //console.log('Plotting X value for data point: ' + d + ' using index: ' + i + ' to be at: ' + x(i) + ' using our xScale.');
            // return the X coordinate where we want to plot this datapoint
            return x(i); 
        })
        .y(function(d) { 
            // verbose logging to show what's actually being done
            //console.log('Plotting Y value for data point: ' + d + ' to be at: ' + y(d) + " using our yScale.");
            // return the Y coordinate where we want to plot this datapoint
            return y(d); 
        })
        .interpolate("linear")
    
    // display the line by appending an svg:path element with the data line we created above
    graph.append("svg:path").attr("d", line(data));
    // or it can be done like this
    //graph.selectAll("path").data([data]).enter().append("svg:path").attr("d", line);
        
        
    function update_graph(valid, newval) {
        // update with animation
        //~ alert('In update graph');
        $('#' + valid).html(newval);
        
        graph.selectAll("path")
            .data([data]) // set the new data
            .attr("transform", "translate(" + x(1) + ")") // set the transform to the right by x(1) pixels (6 for the scale we've set) to hide the new value
            .attr("d", line) // apply the new data values ... but the new value is hidden at this point off the right of the canvas
            .transition() // start a transition to bring the new value into view
            .ease("linear")
            .duration(transition_delay) // for this demo we want a continual slide so set this to the same as the setInterval amount below
            .attr("transform", "translate(" + x(0) + ")"); // animate a slide to the left back to x(0) pixels to reveal the new value
    }
        
    setInterval(function() {
        var req = new XMLHttpRequest();
        req.open('GET', graphinfo.address, false);
        req.send();
        d = $.parseJSON(req.responseText);
        
        observed = d.value[graphinfo.accessor][0];
        
        if(Object.prototype.toString.call(observed) === '[object Array]') {
            var total = 0;
            for(var i=0; i<observed.length; i++) {
                total += observed[i];
            }
            observed = total;
        }
        
        if(graphinfo.count != undefined && graphinfo.count != 0) {
            observed = observed / graphinfo.count;
            if(observed.toFixed) {
                observed = observed.toFixed(2);
            }
        }
        
        if(graphinfo.delta == 1) {
            if(graphinfo.oldvalue == undefined) {
                newval = 0;
            }
            else {
                //~ console.log(observed)
                dydx = (parseFloat(observed) - graphinfo.oldvalue) / (graphinfo.update_duration / 1000)
                newval = dydx / 1e6
            }
            graphinfo.oldvalue = observed;
        }
        
        else {
            newval = observed;
        }
        
        data.push(newval); // add a new element to the array (we're just taking the number we just shifted off the front and appending to the end)
        
        if(data.length > 60) {
            data.splice(0,1)
        }
            
        update_graph(graphinfo.val, newval); }
    , update_delay);
}

$(document).ready(function() {
    $('#dashboard-nav').addClass('active');
    
    for(var i=0; i<graphs.length; i++) {
        display_graph(graphs[i], graphs[i].update_duration, graphs[i].transition_duration);
    }
});

</script>
{% endblock %}

{% block content %}
<div class='well'>
    <h3>CPU/Memory/Users</h3>
    <hr />
    <div class='row'>
        <div class='span5' style='width:500px'><h4>Memory Usage % - <span id='memoryval'></span>%</h4><hr />
            <span id='memorypercent'></span>
        </div>
        <div class='span5' style='width:500px'><h4>Swap Usage % - <span id='swapval'></span>%</h4></h4><hr />
            <span id='swappercent'></span>
        </div>
    </div>
    <div class='row'>
        <div class='span5' style='width:500px'><h4>CPU Usage % - <span id='cpuval'></span>%</h4><hr />
            <span id='cpupercent'></span>
        </div>
        <div class='span5' style='width:500px'><h4>User Count - <span id='userval'></span></h4><hr />
            <span id='usercount'></span>
        </div>
    </div>
</div>

<div class='well'>
    <h3>Disks</h3>
    <hr />
    {% for disk in disks %}
        {% if loop.index is odd %}
            <div class='row'>
        {% endif %}
        <div class='span5' style='width:500px'>
            <h4>{{ disk.get("raw")|replace("|","/")|truncate(10,'...') }} Usage % - 
                <span id='{{disk.get("safe")}}val'></span>%
            </h4><hr />
            <span id='{{disk.get("safe")}}percent'></span>
        </div>
        {% if loop.index is even %}
            </div>
        {% endif %}
    {% endfor %}
    
    {% if disks|count is odd %}
    </div>
    {% endif %}
</div>


<div class='well'>
    <h3>Network Interfaces</h3>
    <hr />
    {% for interface in interfaces %}
    <div class='row'>
        <div class='span5' style='width:500px'>
            <h4>{{interface.get("raw")|e|truncate(10,'...')}} Inbound - 
            <span id='{{interface.get("safe")}}valinbound'></span>Mb/sec</h4><hr />
            <span id='{{interface.get("safe")}}inbound'></span>
        </div>
        <div class='span5' style='width:500px'>
            <h4>{{interface.get("raw")|e|truncate(10,'...')}} Outbound - 
            <span id='{{interface.get("safe")}}valoutbound'></span>Mb/sec</h4><hr />
            <span id='{{interface.get("safe")}}outbound'></span>
        </div>
    </div>
    {% endfor %}
</div>

<div class='row'>
    <div class='span10'></div>
</div>

{% endblock %}
