<div id="graph-{{ graph_hash }}" class="ncpa-graph">
    <script type="text/javascript">
    $(function() {
        var interval = 1000;

        // Set the size of the chart
        var width = $('#graph-{{ graph_hash }} .can-wrapper').width();
        $('#graph-{{ graph_hash }} canvas').attr('width', width);

        // The following are explicitly for delta calculations
        // interpolation: 'bezier','linear','step'
        var delta = !!{{ delta }};
        var query_string = '{{ query_string }}';
        var graph_title = $('#graph-{{ graph_hash }}-title');
        var default_smoothie = { maxValue: 100,
                                 minValue: 0,
                                 millisPerPixel: 40,
                                 labels: { fillStyle: '#OOO' },
                                 interpolation: 'bezier',
                                 grid: { fillStyle: '#FFF', strokeStyle: '#F8F8F8', sharpLines: true, borderVisible: false, verticalSections: 6 }};

        var get_ws_address = function() {
            var ws_loc = 'wss://{{ load_websocket }}/ws/api/' + '{{ graph_path }}';
            if (query_string) {
                ws_loc += '?' + decodeURIComponent(query_string);
            }
            return ws_loc;
        };

        var API_URL = '{{ load_from }}/api/{{graph_path}}';
        if (query_string) {
            API_URL += '?' + decodeURIComponent(query_string);
        }

        $.getJSON(API_URL, function(d) {
            var ts_length = 0;
            $.each(d, function(i, api_response_object) {
                var response_object = api_response_object;
                ts_length = response_object[0].length || 1;
                var title = '{{ graph_path }}';

                graph_title.text(title);
                if (response_object[1] != '%') {
                    delete default_smoothie.maxValue;
                }
            });

            var smoothie = new SmoothieChart(default_smoothie);
            var ws_loc = get_ws_address();

            var ws = new WebSocket(ws_loc);
            var lines = [];
            var min = undefined;
            var max = undefined;
            var all = [];

            var td_min = $('#data-{{ graph_hash }}-units td.min');
            var td_max = $('#data-{{ graph_hash }}-units td.max');
            var td_cur = $('#data-{{ graph_hash }}-units td.current');
            var td_avg = $('#data-{{ graph_hash }}-units td.average');


            for(var i=0; i<ts_length; i++) {
                lines.push(new TimeSeries());
            }

            ws.onmessage = function(e) {
                var d = $.parseJSON(e.data);
                var ts = d[0];
                var units = d[1];
                var lsum = 0;

                if(ts instanceof Array != true) {
                    ts = [ts]
                }

                $.each(ts, function(i) {
                    var val = ts[i];
                    val = Math.abs(val);

                    lsum += val;
                    lines[i].append(new Date().getTime(), val);
                    if(min == undefined || val < min) min = val;
                    if(max == undefined || val > max) max = val;
                });

                lmean = lsum / ts.length;
                all.push(lmean);
                asum = all.reduce(function(a, b) {return a+b});
                amean = asum / all.length;
                
                td_min.text(min.toFixed(2) + ' ' + units);
                td_max.text(max.toFixed(2) + ' ' + units);
                td_cur.text(lmean.toFixed(2) + ' ' + units);
                td_avg.text(amean.toFixed(2) + ' ' + units);
            };

            var websocket_thread;

            ws.onopen = function() {
                websocket_thread = setInterval(function() {
                    ws.send('{{ graph_path }}');
                }, interval);
            };

            $('#graph-{{ graph_hash }}').on('doUnload', function() {
                ws.close();
                delete ws;
                clearInterval(websocket_thread);
            });

            $.each(lines, function(i) {
                smoothie.addTimeSeries(lines[i], { lineWidth: 1, strokeStyle: '#4d89f9', fillStyle: 'rgba(77,137,249,0.15)' });
            });
            smoothie.streamTo(document.getElementById('canvas-{{ graph_hash }}'), 1000);
        });


    });
    </script>
    <div class='graph-title' id='graph-{{ graph_hash }}-title'>{{ graph_path }}</div>
    <div class='can-wrapper'><canvas id='canvas-{{ graph_hash }}' height='120'></canvas></div>
    <div class='data-units' id='data-{{ graph_hash }}-units'>
        <table>
            <tbody>
                <tr>
                    <td class="title">Current</td>
                    <td class='current'>0</td>
                    <td class="title">Min</td>
                    <td class='min'>0</td>
                    <td class="title">Max</td>
                    <td class='max'>0</td>
                    <td class="title">Average</td>
                    <td class='average'>0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style='clear: both;'></div>
</div>
