<style>

.ncpa-graph {
    border:2px solid #FAEBD7;
    border-radius:8px;
    padding:10px;
    height:200px;
    width:650px;
    background-color: white;
}

.graph-title {
    text-align:center;
    margin:5px 0px 5px 0px;
}

.can-wrapper {
    float:left;
}

.data-units {
    float:left;
    font-size: 10px;
    width: 80px;
    vertical-align: middle;
}

.data-units table {
    border:1px solid #FAEBD7;
    border-radius: 12px;
    margin-left: 10px;
    margin-top: 45px;
}

.data-units td {
    width:20px;
    padding:5px 5px 5px 5px;
    font-size:10px;
}

</style>
<link rel='stylesheet' href='/static/css/bootstrap.css' />
<link rel='stylesheet' href='/static/css/bootstrap-responsive.css' />
<div id='graph-{{ graph_hash }}' class='ncpa-graph'>
    <script src='/static/js/smoothie.js'></script>
    <script src='/static/js/jquery-1.8.3.min.js'></script>
    <script>
    $(document).ready(function() {
        var interval = 1000;

        // The following are explicitly for delta calculations
        var delta = !!{{ delta }};
        var query_string = '{{ query_string }}';
        var graph_title = $('#graph-{{ graph_hash }}-title');
        var default_smoothie = {maxValue: 100,
                                minValue: 0,
                                timestampFormatter:SmoothieChart.timeFormatter,
                                millisPerPixel:76,
                                labels:{fillStyle:'#000000'},
                                grid:{fillStyle:'#ffffff',
                                      strokeStyle:'rgba(119,119,119,0.18)'}};


        var get_ws_address = function() {
            var loc = window.location;
            var ws_protocol = (loc.protocol === 'https:') ? 'wss' : 'ws';
            var ws_loc = ws_protocol + '://' + loc.hostname + ':5693/api-websocket/' + '{{ graph_path }}';

            if (query_string) {
                ws_loc += '?' + decodeURIComponent(query_string);
            }

            return ws_loc;
        };

        var API_URL = '/api/{{graph_path}}';
        if (query_string) {
            API_URL += '?' + decodeURIComponent(query_string);
        }

        $.getJSON(API_URL, function(d) {
            var ts_length = 0;
            $.each(d, function(i, api_response_object) {
                var response_object = api_response_object['{{ graph_prop }}'];
                ts_length = response_object[0].length || 1;
                var title = '{{ graph_path }} in ' + response_object[1];

                if (delta) {
                    title += '/s';
                }

                graph_title.text(title);
                if(response_object[1] != '%') {
                    delete default_smoothie.maxValue;
                }
            });

            var smoothie = new SmoothieChart(default_smoothie);
            var ws_loc = get_ws_address();

            var ws = new WebSocket(ws_loc);
            var lines = [];
            var min = undefined;
            var max = undefined;
            var all = [];

            var td_min = $('#data-{{ graph_hash }}-units td.min');
            var td_max = $('#data-{{ graph_hash }}-units td.max');
            var td_cur = $('#data-{{ graph_hash }}-units td.current');
            var td_avg = $('#data-{{ graph_hash }}-units td.average');


            for(var i=0; i<ts_length; i++) {
                lines.push(new TimeSeries());
            }

            ws.onmessage = function(e) {
                var d = $.parseJSON(e.data);
                var ts = d[0];
                var units = d[1];
                var lsum = 0;

                if(ts instanceof Array != true) {
                    ts = [ts]
                }

                $.each(ts, function(i) {
                    var val = ts[i];
                    val = Math.abs(val);

                    lsum += val;
                    lines[i].append(new Date().getTime(), val);
                    if(min == undefined || val < min) min = val;
                    if(max == undefined || val > max) max = val;
                });

                lmean = lsum / ts.length;
                all.push(lmean);
                asum = all.reduce(function(a, b) {return a+b});
                amean = asum / all.length;

                td_min.text(min.toFixed(2));
                td_max.text(max.toFixed(2));
                td_cur.text(lmean.toFixed(2));
                td_avg.text(amean.toFixed(2));


            };

            var websocket_thread;

            ws.onopen = function() {
                websocket_thread = setInterval(function() {
                    ws.send('{{ graph_path }}');
                }, interval);
            };

            $('#graph-{{ graph_hash }}').on('doUnload', function() {
                ws.close();
                delete ws;
                clearInterval(websocket_thread);
            });

            $.each(lines, function(i) {
                smoothie.addTimeSeries(lines[i], {lineWidth:0.5,
                                                  strokeStyle:'rgba(0,0,0,0.44)',
                                                  fillStyle:'rgba(7,0,255,0.29)'});
            });
            smoothie.streamTo(document.getElementById('canvas-{{ graph_hash }}'), 1000);
        });


    })
    </script>
    <div class='graph-title' id='graph-{{ graph_hash }}-title'>{{ graph_path }}</div>
    <div class='can-wrapper' width='500'>
        <canvas id='canvas-{{ graph_hash }}' width='500' height='160'></canvas>
    </div>
    <div class='data-units' id='data-{{ graph_hash }}-units'>
        <table>
            <tbody>
                <tr>
                    <td>Current<td>
                    <td class='current'>None</td>
                </tr>
                <tr>
                    <td>Min<td>
                    <td class='min'>Inf</td>
                </tr>
                <tr>
                    <td>Max<td>
                    <td class='max'>-Inf</td>
                </tr>
                <tr>
                    <td>Average<td>
                    <td class='average'>None</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style='clear:both;'></div>
</div>
