{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="well" style="width: 300px; margin: 0 auto;">
                <form class="form-signin" action="/login" method="post">
                    <h4 style="margin: 0 0 20px 0; font-weight: bold;">Web GUI Log In</h4>
                    {% if message %}
                        <div class="alert alert-info" style="margin-bottom: 20px;">{{ message }}</div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger" style="margin-bottom: 20px;">{{ error }}</div>
                    {% endif %}
                    <input {% if error %}id="inputError"{% endif %} type="password" class="form-control" name="token" placeholder="{% if admin_auth_only %}Admin password{% else %}Token or admin password{% endif %}" autofocus autocomplete="off">
                    <input type="hidden" name="url" value="{{ url }}">
                    <button class="btn btn-sm btn-primary" type="submit" style="margin-top: 20px;">Log In</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
