{% extends 'base.html' %}

{% block content %}
{{ super() }}
<div id='tabs'>
    <ul>
        <li><a href='#system'>System Info</a></li>
        <li><a href='#network'>Network Surrounding</a></li>
        <li><a href='#config'>Config</a></li>
        <li><a href='#processes'>Processes</a></li>
    </ul>
    <div id='#system'>
        <div id='system'>
            System stuff will go here
        </div>
    </div>
    <div id='#processes'>
        <div id='processes'>
            <a href='/processes/?skip=30&sortby=MEM'>Watch Processes</a>
        </div>
    </div>
    <div id='#network'>
        <div id='network'>
            Nmap and latest neighbors
        </div>
    </div>
    <div id='#config'>
        <div id='config'>
            Config
        </div>
    </div>
</div>
{% endblock %}
