{% extends 'base.html' %}

{% block headerjs %}
<script>
$(document).ready(function() {
	$('#home-nav').addClass('active');
});
</script>
{% endblock %}

{% block content %}
<div class='well'>
	<table class='table'>
		<thead>
			<tr>
				<th>Agent Information</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Version</td>
				<td>{{ version }}</td>
			</tr>
			<tr>
				<td>Agent Uptime</td>
				<td>{{ uptime }}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class='well'>
	<table class='table'>
		<thead>
			<tr>
				<th>System Information</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Processor Type</td>
				<td>{{ processor }}</td>
			</tr>
			<tr>
				<td>Node Name</td>
				<td>{{ node }}</td>
			</tr>
			<tr>
				<td>Version</td>
				<td>{{ version }}</td>
			</tr>
			<tr>
				<td>System</td>
				<td>{{ system }}</td>
			</tr>
			<tr>
				<td>Release</td>
				<td>{{ release }}</td>
			</tr>
		</tbody>
	</table>
	<br />
	<a href='/dashboard' class='btn btn-primary btn-large'>See Live Stats</a>
</div>
{% endblock %}
