{% extends 'base.html' %}

{% block headerjs %}
<script>
$(document).ready(function() {
    
    $('#navigator-nav').addClass('active');
    
    append_node('navigator', '/api', true)
    
});

function append_node(target, url, first) {
    console.log(url);
    $.getJSON(url, function(data) {
        
        // 'value' is always the root value of the JSON
        var value = data.value;
        if(first == true) {
            // If this is the base /api url, then root is the base
            value = value['root'];
        } else {
            // Otherwise its our target, eg: memory, disks
            value = value[target];
        }
        
        if($.isArray(value)) {
            var holder = $('<div>');
            // Then its a leaf value, not a tree, so show it as a value
            $('<div>', {'class': 'node', 'text': 'Value: ' + value[0]}).appendTo(holder);
            // Some have unit indicators. Show that if it exists.
            if(value.length > 1) {
                $('<div>', {'class': 'node', 'text': 'Units:' + value[1]}).appendTo(holder);
            }
            holder.appendTo(target);
        } else {
            $.each(value, function(i) {
                var dataurl = [url, i].join('/')
                var node = $('<div>')
                var icon = $('<i>', {'class': 'icon-chevron-right'});
                var span = $('<span>', {'text': i});
                
                icon.prependTo(span);
                span.appendTo(node);
                $('<div>', {'data-url': dataurl,
                            'class': 'node',
                            'id': i }).appendTo(node);
                node.appendTo('#' + target)
                span.click(function() {
                    toggle_visibility(node, dataurl, i); 
                })
            });
        }
    });
}

function toggle_visibility(node, dataurl, i) {
    var icon = $(node.children().children('i'));
    var child_div = $(node.children().children('div'))
    
    console.log(child_div);
    
    if(child_div.text() == '') {
        console.log('Child div is empty!');
        append_node(i, dataurl);
    }
    
    if(icon.hasClass('icon-chevron-right')) {
        icon.removeClass('icon-chevron-right');
        icon.addClass('icon-chevron-down');
        child_div.show();
        
    } else {
        icon.removeClass('icon-chevron-down');
        icon.addClass('icon-chevron-right');
        child_div.hide();
    }
}
</script>
{% endblock %}

{% block content %}
<div id='navigator'>root</div>
{% endblock content %}
