{% block headerjs %}
<script src='/static/js/smoothie.js'></script>
<script>
    $(document).ready(function() {
        var display = {{ display }};
        var critical = {{ critical }};
        var warning = {{ warning }};
        var highlight = '{{ highlight }}';
        var plbody = $('table.processes tbody');
        var plhead = $('table.processes thead tr#titles')
        var order = ['pid', 'name', 'username', 'cpu_percent', 'memory_percent'];
        var current_pl = [];

        $('#highlight-input').on('keyup', function(e) {
            var raw_highlight = $(e.target).val();

            if (raw_highlight === '') {
                highlight = null;
            }
            else {
                highlight = raw_highlight;
            }
        })

        $('#warning-input').on('keyup', function(e) {
            var test = $(e.target).val();
            var parsed_test = parseFloat(test);

            if (test === '') {
                warning = 0;
            }
            else if (isNaN(parsed_test)) {
                return;
            }
            else if (parsed_test < 0 || test > 100) {
                return;
            }
            else {
                warning = parsed_test;
            }
        });

        $('#critical-input').on('keyup', function(e) {
            var test = $(e.target).val();
            var parsed_test = parseFloat(test);

            if (test === '') {
                critical = 0;
            }
            else if (isNaN(parsed_test)) {
                return;
            }
            else if (parsed_test < 0 || test > 100) {
                return;
            }
            else {
                critical = parsed_test;
            }
        });

        $('.sortby').click(function(e) {
            console.log($(e.target).val());
        });

        var get_ws_address = function() {
            var loc = window.location;
            if(loc.protocol === 'https:') {
                var ws_proto = 'wss';
            } else {
                var ws_proto = 'ws';
            }
            var ws_loc = ws_proto + '://' + loc.hostname + ':' + loc.port + '/top-websocket/';
            return ws_loc;
        }
        
        var create_header = function(pl) {
            plhead.empty();
            
            $.each(order, function(i) {
                var th = $('<th>', {id: order[i], text: order[i]});
                var s = $('<span>', {class: 'signia', html: '&#x21a7;'});
                
                if (order[i] == 'cpu_percent') {                    
                    th.append(s);
                    th.click(function() {
                        $('.signia').hide();
                        s.show();
                        comparator = cpu_compare;
                        current_pl.sort(cpu_compare);
                        create_plbody(current_pl);
                    });
                }
                if (order[i] == 'memory_percent') {                    
                    th.append(s);
                    th.click(function() {
                        $('.signia').hide();
                        s.show();
                        comparator = mem_compare;
                        current_pl.sort(mem_compare);
                        create_plbody(current_pl);
                    });
                    s.hide();
                }
                
                plhead.append(th);
            });
        }
        
        var cpu_compare = function(a, b) {
            if (a.cpu_percent < b.cpu_percent) {
                return 1
            }
            if (a.cpu_percent > b.cpu_percent) {
                return -1
            }
            return 0;
        }
        
        var mem_compare = function(a, b) {
            if (a.memory_percent < b.memory_percent) {
                return 1
            }
            if (a.memory_percent > b.memory_percent) {
                return -1
            }
            return 0;
        }
        
        var comparator = cpu_compare;
        
        var update_stats = function(cpu, virtual, swap) {
            var fcpu = parseFloat(cpu).toFixed(2) + '%';
            var fvirtual = parseFloat(virtual).toFixed(2) + '%';
            var fswap = parseFloat(swap).toFixed(2) + '%';
            
            $('#load .current').text(fcpu);
            $('#virtual .current').text(fvirtual);
            $('#swap .current').text(fswap);
        }
        
        var create_plbody = function(pl) {
            plbody.empty();
            $.each(pl, function(i) {
                if (display > 0 && display <= i) {
                    return false;
                }
                var p = pl[i];
                var tr = $('<tr>', {id: p.pid});
                $.each(order, function(j) {
                    var td = $('<td>', {text: p[order[j]]});
                    if (highlight != null && order[j] == 'name' && p[order[j]].indexOf(highlight) > -1) {
                        tr.addClass('highlight');
                    }
                    if ((order[j] == 'cpu_percent' || order[j] == 'memory_percent') && critical > 0 && p[order[j]] > critical) {
                        td.addClass('critical');
                    }
                    else if ((order[j] == 'cpu_percent' || order[j] == 'memory_percent') && warning > 0 && p[order[j]] > warning) {
                        td.addClass('warning');
                    }
                    tr.append(td);    
                })
                plbody.append(tr);
            })
        }
        
        var ws_loc = get_ws_address();
        var ws = new WebSocket(ws_loc);
        
        ws.onmessage = function(d) {
            info = $.parseJSON(d.data);
            
            var load = info.load
            var vir = info.vir
            var swap = info.swap
            var pl = info.process
            current_pl = pl;
            
            update_stats(load, vir, swap);
            
            if (plbody.children().length == 0) {
                create_header(pl);
            }
            pl.sort(comparator);
            create_plbody(pl);
        }
    })
</script>
{% endblock headerjs %}

<div id='top-container'>
    <div class="well">
        <form class="form-inline" id="top-form">
            <div style="float: left;">
                <div class="input-group" style="width: 320px;">
                    <div class="input-group-addon">Highlight Name</div>
                    <input class="form-control" type="text" id="highlight-input" placeholder="ncpa_listener.exe">
                </div>
            </div>
            <div style="float: right;">
                <div class="input-group" style="width: 120px;">
                    <div class="input-group-addon"><img src="../../static/img/warning.png" class="tt-bind" data-placement="bottom" title="Warning threshold"></div>
                    <input type="text" class="form-control" id="warning-input" placeholder="Warning">
                </div>
                <div class="input-group" style="width: 120px;">
                    <div class="input-group-addon"><img src="../../static/img/critical.png" class="tt-bind" data-placement="bottom" title="Critical threshold"></div>
                    <input type="text" class="form-control" id="critical-input" placeholder="Critical">
                </div>
            </div>
            <div style="clear: both;"></div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-sm-12">
            <div style="padding-bottom: 20px;">
                <table class="table table-top table-bordered table-condensed">
                    <tr>
                        <td id='load' style="width: 33.3%;"><b>CPU Percent</b> <span class='current'></span></td>
                        <td id='virtual' style="width: 33.3%;"><b>RAM Usage</b> <span class='current'></span></td>
                        <td id='swap' style="width: 33.3%;"><b>Swap Usage</b> <span class='current'></span></td>
                    </tr>
                </table>
            </div>
            <table class='processes table table-top table-hover table-bordered table-condensed'>
                <thead>
                    <tr id='titles'></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>