.CSSTableGenerator {

	margin:0px auto;padding:0px;

	width:600px;
	box-shadow: 10px 10px 5px #888888;

	border:1px solid #000000;

	

	-moz-border-radius-bottomleft:14px;

	-webkit-border-bottom-left-radius:14px;

	border-bottom-left-radius:14px;

	

	-moz-border-radius-bottomright:14px;

	-webkit-border-bottom-right-radius:14px;

	border-bottom-right-radius:14px;

	

	-moz-border-radius-topright:14px;

	-webkit-border-top-right-radius:14px;

	border-top-right-radius:14px;

	

	-moz-border-radius-topleft:14px;

	-webkit-border-top-left-radius:14px;

	border-top-left-radius:14px;

}.CSSTableGenerator table{

	width:100%;

	height:100%;

	margin:0px;padding:0px;

}.CSSTableGenerator tr:last-child td:last-child {

	-moz-border-radius-bottomright:14px;

	-webkit-border-bottom-right-radius:14px;

	border-bottom-right-radius:14px;

}

.CSSTableGenerator table tr:first-child td:first-child {

	-moz-border-radius-topleft:14px;

	-webkit-border-top-left-radius:14px;

	border-top-left-radius:14px;

}

.CSSTableGenerator table tr:first-child td:last-child {

	-moz-border-radius-topright:14px;

	-webkit-border-top-right-radius:14px;

	border-top-right-radius:14px;

}.CSSTableGenerator tr:last-child td:first-child{

	-moz-border-radius-bottomleft:14px;

	-webkit-border-bottom-left-radius:14px;

	border-bottom-left-radius:14px;

}.CSSTableGenerator tr:hover td{

	background-color:#ffffff;

		


}

.CSSTableGenerator td{

	vertical-align:middle;

		background:-o-linear-gradient(bottom, #e5e5e5 5%, #ffffff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e5e5e5), color-stop(1, #ffffff) ); 
	background:-moz-linear-gradient( center top, #e5e5e5 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5e5e5", endColorstr="#ffffff");	background: -o-linear-gradient(top,#e5e5e5,ffffff);


	background-color:#e5e5e5;


	border:1px solid #000000;

	border-width:0px 1px 1px 0px;

	text-align:left;

	padding:7px;

	font-size:16px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.CSSTableGenerator tr:last-child td{

	border-width:0px 1px 0px 0px;

}.CSSTableGenerator tr td:last-child{

	border-width:0px 0px 1px 0px;

}.CSSTableGenerator tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}


.CSSTableGenerator tr:first-child td, {

		background:-o-linear-gradient(bottom, #4c4c4c 5%, #4c4c4c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #4c4c4c) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #4c4c4c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#4c4c4c");	background: -o-linear-gradient(top,#4c4c4c,4c4c4c);


	background-color:#4c4c4c;

	border:0px solid #000000;

	text-align:center;

	border-width:0px 0px 1px 1px;

	font-size:14px;

	font-family:Arial;

	font-weight:bold;

	color:#ffffff;

}

.CSSTableGenerator tr:first-child:hover td{

	background:-o-linear-gradient(bottom, #4c4c4c 5%, #4c4c4c 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4c4c4c), color-stop(1, #4c4c4c) );
	background:-moz-linear-gradient( center top, #4c4c4c 5%, #4c4c4c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#4c4c4c", endColorstr="#4c4c4c");	background: -o-linear-gradient(top,#4c4c4c,4c4c4c);


	background-color:#4c4c4c;

}

.CSSTableGenerator tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.CSSTableGenerator tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}
