body { padding-top: 80px; font-size: 12px; font-family: verdana, sans-serif; }
.fa-l { margin-right: 2px; }
.fa-r { margin-left: 2px; }

/* Bootstrap overrides */
.form-control { border-radius: 0; padding: 6px 10px; }
.form-control:focus { border-color: #BBB; box-shadow: none; }
.btn { border-radius: 0; }
.btn:focus, .btn:active, .btn:active:focus { outline: none; }
.btn-default { background-color: #EEE; border-color: #E9E9E9; }
.alert { padding: 10px; border-radius: 0; margin: 0; }
.table { margin: 0; }
.table-condensed>tbody>tr>td { padding: 4px 8px; }
.well { border-radius: 0; }
.modal-content { border-radius: 0; }
.modal-header { font-weight: bold; font-size: 18px; }
.navbar-inverse { background: url('../img/footer_lodyas.png'); border: none; }
.navbar-inverse .navbar-brand { font-size: 24px; font-weight: bold; color: #EEE; letter-spacing: 2px; }
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover { background-color: #222; }
.navbar { margin-bottom: 30px; }
.table-border { border: 1px solid #DDD; }
.navbar-inverse .navbar-nav>li>a { color: #BBB; }

#view-api-frame { width: 100%; height: 595px; border: none; background-color: #F9F9F9; padding: 10px; }