#
#	Basic example of Passive checks being defined
#

#[passive checks]

#%HOSTNAME%|__HOST__ = system/agent_version
#%HOSTNAME%|Disk Usage = disk/logical/C:|/used_percent --warning 80 --critical 90 --units Gi
#%HOSTNAME%|CPU Usage = cpu/percent --warning 60 --critical 80 --aggregate avg
#%HOSTNAME%|Swap Usage = memory/swap --warning 60 --critical 80 --units Gi
#%HOSTNAME%|Memory Usage = memory/virtual --warning 80 --critical 90 --units Gi
#%HOSTNAME%|Process Count = processes --warning 300 --critical 400
