{% extends 'base.html' %}

{% block title %}API{% endblock %}

{% block headerjs %}
<script type="text/javascript">
$(document).ready(function() {

    $('.tt-bind').tooltip();
    $('.pop-bind').popover({ html: true, container: 'body' });
    
    // Set nav header active link and resize API window
    $('#api-nav').addClass('active');
    resize_api_window();

    var url = generate_url();
    $('#api-input').val(url);

    $(window).resize(function() {
        resize_api_window();
    });

    $('#module').change(function() {
        clear_settings();
        var module = $(this).val();

        // Remove all old module accessors
        $('.selector .submod').remove();

        // Show settings based on module
        $('.settings').hide();
        $('.hide-by-default').hide();
        $('.service-settings .list').html('');

        switch (module) {
            case 'processes':
                $('.check-settings').show();
                $('.wc-thresholds').show();
                $('.filter-settings').show();
                break;
            case 'services':
                $('.service-settings').show();
                $('.check-settings').show();
                $('.status-check').show();
                break;
        }

        // Generate the full API URL
        var url = generate_url(true);

        // Grab the actual json data and show module accessors
        if (module != 'processes' && module != 'windowscounters' && module != 'logs' && module != 'services') {
            $.get(url, { }, function(data) {
                var select = $('<select>', { class: 'form-control submod' });
                select.append('<option></option>');

                if (module == 'plugins') {
                    $(data[module]).each(function(i, obj) {
                        var opt = $('<option>' + obj + '</option>');
                        select.append(opt);
                    });
                } else {
                    var keys = Object.keys(data[module]);
                    $(keys).each(function(i, obj) {
                        var opt = $('<option>' + obj + '</option>');
                        select.append(opt);
                    });
                }

                $('.selector').append(select);
            }, 'json');
        } else if (module == 'services') {
            add_service_selector();
        }

        // Set URL of link and iframe
        $('#api-frame').attr('src', url);
        $('#api-input').val(url);
    });

    $('#reload').click(function() {
        load();
        var url = generate_url();
        $('#api-frame').attr('src', url);
        $('#api-input').val(url);
    });

    // If the checkbox for running as a nagios check is checked, then we should
    // display the button to show the check_ncpa.py version
    $('input.check').change(function() {
        toggle_check_ncpa_btn();
    });

    // Add services for service checks
    $('.add-service').click(function() {
        add_service_selector();
    });

    $('iframe').load(function() {
        clear_load();
    });

    // Special CPU module selector to show aggregation field
    $('.selector').on('change', '.submod', function() {
        var module = $('#module').val();
        var selected = $(this).val();
        if (module == 'cpu') {
            if (selected != '') {
                if (selected != 'count') {
                    $('.data-settings').show();
                } else {
                    $('.data-settings').hide();
                }
                $('.check-settings').show();
                $('.wc-thresholds').show();
            } else {
                clear_settings();
                $('.settings').hide();
            }
        }
    });

});

function load() {
    var top = $('#api-input').outerHeight() + $('.navbar').outerHeight();
    var h = $('iframe').outerHeight();
    var w = $('iframe').outerWidth();
    $('.whiteout').css('top', top)
                  .css('height', h)
                  .css('width', w);
    $('.whiteout').show();
}

function clear_load() {
    $('.whiteout').hide();
}

function add_service_selector() {
    var select = $('<select>', { class: 'form-control service' });
    select.append('<option></option>');

    // Special output for selecting service(s)
    $.get(generate_url(true), { }, function(data) {
        var keys = Object.keys(data['services']);
        $(keys).each(function(i, obj) {
            var opt = $('<option>' + obj + '</option>');
            select.append(opt);
        });
    });

    $('.service-settings .list').append(select);
}

function generate_url(skip_settings=false) {
    var api = window.location.protocol + '//' + window.location.hostname;
    if (window.location.port) {
        api += ':' + window.location.port;
    }
    api += '/api';

    // Add module to api call
    var module = $('#module').val();
    if (module == '') {
        return api;
    }
    api += '/' + module;

    // Add in any submodules there are
    if ($('.selector .submod').length > 0) {
        $('.selector .submod').each(function(i, name) {
            if ($(name).val() != '') {
                api += '/' + $(name).val();
            }
        });
    }

    if (skip_settings) {
        return api;
    }

    //console.log(api);
    var extra = '';
    var url = api;

    // Apply filters based on type
    if (module == 'services') {
        $('.service').each(function(i, service) {
            var val = $(service).val();
            if (val != '') {
                extra += '&service=' + val;
            }
        });
    }

    // Grab aggregation settings
    var aggregate = $('.aggregate').val();
    if (aggregate != '') {
        extra += '&aggregate=' + aggregate;
    }

    // Grab check settings
    if ($('.check').is(':checked')) {
        if (extra) { extra += '&'; }
        extra += 'check=true';

        // Do warning / critical checks
        var warn = $('.warn').val();
        var crit = $('.crit').val();
        if (warn) {
            extra += '&warning=' + warn;
        }
        if (crit) {
            extra += '&critical=' + crit;
        }

        // Check for status if services
        var status = $('.status').val();
        if (status) {
            extra += '&status=' + status;
        }
    }

    // Add extra to url
    if (extra) {
        extra = extra.replace(/^&/, '');
        url = url + '?' + extra;
    }

    return url;
}

function toggle_check_ncpa_btn() {
    if ($('input.check').is(':checked')) {
        $('.btn-check-ncpa').show();
    } else {
        $('.btn-check-ncpa').hide();
    }
}

function clear_settings() {
    $('.settings input[type="checkbox"]').attr('checked', false);
    $('.settings input').val('');
    $('.data-settings select.aggregate').val('');
}

function resize_api_window() {
    var h = $(window).height() - $('nav').outerHeight();
    $('#api-input-control').css('height', h);
    $('#api-input-control .max').css('max-height', h-40);
    if (h-92 < $('#api-input-control .selection-box').outerHeight()) {
        $('.btn-check-ncpa').css('position', 'relative')
                            .css('width', '100%')
                            .css('bottom', 0);
        $('#api-input-control .max').css('padding-right', 10);
    } else {
        $('.btn-check-ncpa').css('position', 'absolute')
                            .css('width', '260px')
                            .css('bottom', 20);
    }
    $('#api-frame').css('height', h - $('#api-input').outerHeight());
}
</script>
{% endblock %}

{% block content %}
<div style="display: table; width: 100%;">
    <div class="well" id="api-input-control" style="width: 300px; vertical-align: top; display: table-cell; position: relative;">
        <div class="max" style="overflow-y: auto;">
            <div class="selection-box">
                <div class="selector">
                    <label>API Endpoint</label>
                    <select class="form-control" id="module">
                        <option></option>
                        <option>cpu</option>
                        <option>disk</option>
                        <option>plugins</option>
                        <option>interface</option>
                        <option>memory</option>
                        <option>processes</option>
                        <option>services</option>
                        <option>system</option>
                        {% if system == "Windows" %}
                        <option>logs</option>
                        <option>windowscounters</option>
                        {% endif %}
                    </select>
                </div>
                <div class="settings service-settings">
                    <label>Select Service(s)</label>
                    <div class="list"></div>
                    <div>
                        <button type="button" class="btn btn-xs btn-default add-service">
                            <i class="fa fa-plus"></i> Add Service
                        </button>
                    </div>
                </div>
                <div class="settings filter-settings">
                    <label>Filter(s)</label>
                    <div class="list">
                        <div class="filter-group">
                            <select class="form-control" style="display: inline-block; width: 35%; border-right: 0;">
                                <option value="name">name</option>
                                <option value="exe">exe</option>
                            </select><input type="text" class="form-control" style="display: inline-block; width: 65%;">
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-xs btn-default add-filter">
                            <i class="fa fa-plus"></i> Add Filter
                        </button>
                    </div>
                </div>
                <div class="settings data-settings">
                    <label>Data Settings</label>
                    <div class="input-group">
                        <div class="input-group-addon">aggregate</div>
                        <select class="form-control aggregate">
                            <option></option>
                            <option value="avg">average</option>
                            <option value="min">minumum</option>
                            <option value="max">maximum</option>
                            <option value="sum">sum</option>
                        </select>
                    </div>
                </div>
                <div class="settings check-settings">
                    <label>Check Settings</label>
                    <div class="checkbox">
                        <label><input type="checkbox" class="check" name="check" value="1"> Run as a Nagios check</label>
                    </div>
                    <div class="status-check hide-by-default">
                        <div class="input-group">
                            <div class="input-group-addon">Status <i class="fa fa-question-circle pop-bind" title="Service Status" data-content="<b>Default is running</b>.<br>The status option is what the service's status should be. If it does not match the set status, it will return a critical result."></i></div>
                            <select class="status form-control">
                                <option></option>
                                <option value="running">running</option>
                                <option value="stopped">stopped</option>
                            </select>
                        </div>
                    </div>
                    <div class="wc-thresholds hide-by-default form-inline">
                        <div class="input-group">
                            <div class="input-group-addon"><img src="../../static/img/warning.png" class="tt-bind" title="Warning threshold"></div>
                            <input type="text" class="form-control warn" placeholder="Warning">
                        </div>
                        <div class="input-group">
                            <div class="input-group-addon"><img src="../../static/img/critical.png" class="tt-bind" title="Critical threshold"></div>
                            <input type="text" class="form-control crit" placeholder="Critical">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 20px;">
                    <button class="btn btn-sm btn-primary" id="reload"><i class="fa fa-refresh fa-l"></i> Reload</button>
                </div>
            </div>
            <div class="btn-check-ncpa btn-group dropup">
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-external-link-square fa-l"></i> View in alternate format <i class="fa fa-chevron-up fa-r"></i></button>
                <ul class="dropdown-menu">
                    <li><a>As active check using <em>check_ncpa.py</em></a></li>
                    <li><a>As passive check config definition</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="display: table-cell;">
        <div class="whiteout">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <input class="form-control" id="api-input" style="vertical-align: top;" readonly type="text">
        <iframe src="/api" name="api-frame" style="vertical-align: top;" id="api-frame"></iframe>
    </div>
</div>
{% endblock %}