{% extends 'base.html' %}

{% block title %}API{% endblock %}

{% block headerjs %}
<script type="text/javascript">
$(document).ready(function() {
    $(document).keydown(function(e) {
        if (e.keyCode == 82 && e.ctrlKey || e.keyCode == 116) {
            if (window.self !== window.top) {
                location.reload(true);
            } else {
                document.getElementById('help-iframe').contentWindow.location.reload(true);
            }
            return false;
        }
    });

});
</script>
{% endblock %}

{% block content %}

<div class="alert alert-info">
    This section is currently in <b>read only</b> mode and any setting changes will not be saved. This will be updated in future versions.
</div>

<div style="padding: 3rem;">
    <form class="form-horizontal">

        <h3>API</h3>
        <p>These are the API settings.</p>

        <div class="container-fluid" style="margin-top: 3rem; padding: 0;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Community String</label>
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <input type="password" class="form-control" name="community_string" value="{{ sectioncfg['community_string'] }}" readonly>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock %}
