{% extends 'base.html' %}

{% block title %}Passive Checks{% endblock %}

{% block headerjs %}
<script type="text/javascript">
$(document).ready(function() {
    $(document).keydown(function(e) {
        if (e.keyCode == 82 && e.ctrlKey || e.keyCode == 116) {
            if (window.self !== window.top) {
                location.reload(true);
            } else {
                document.getElementById('help-iframe').contentWindow.location.reload(true);
            }
            return false;
        }
    });

    // Add Check Functionality
    $('#add-check-btn').click(function() {
        var formHtml = '<div id="new-check-form">' +
                '<div class="form-group">' +
                    '<div class="form-group">' +
                        '<label for="host_name">Hostname:</label>' +
                        '<input type="text" id="host_name" name="host_name" placeholder="Hostname" />' +
                    '</div>' +
                    '<div class="form-group">' +
                        '<label for="service_name">Service Name:</label>' +
                        '<input type="text" id="service_name" name="service_name" placeholder="Service Name" />' +
                    '</div>' +
                    '<div class="form-group">' +
                        '<label for="check_interval">Check Interval (seconds):</label>' +
                        '<input type="text" id="check_interval" name="check_interval" placeholder="300" />' +
                    '</div>' +
                    // Make the check value a dropdown that is populated with the available checks from the API?
                    '<div class="form-group">' +
                        '<label for="check_value">Check Value:</label>' +
                        '<input type="text" id="check_value" name="check_value" placeholder="Check Value" />' +
                    '</div>' +
                '</div>' +
                '<div class="form-group">' +
                    '<button class="btn btn-primary" id="submit-check" style="border-radius:5px;">Submit</button>' +
                    '<button class="btn btn-secondary" id="cancel-check" style="border-radius:5px;">Cancel</button>' +
                '</div>' +
            '</div>';
        $('.form-horizontal').append(formHtml);


        // Cancel button functionality
        $('#cancel-check').click(function() {
            $('#new-check-form').remove();
        });

        // Submit new check
        $('#submit-check').click(function() {
            var checkData = {
                host_name: $('#host_name').val(),
                service_name: $('#service_name').val(),
                check_interval: $('#check_interval').val(),
                check_value: $('#check_value').val()
            };
            $.ajax({
                type: "POST",
                url: "/add-check", // Your server-side script to handle POST
                data: checkData,
                success: function(response) {
                    if (response.success) {
                        $('.form-horizontal').prepend('<pre>' + checkData.name + ' = ' + checkData.value + '</pre>');
                        $('#new-check-form').remove();
                    } else {
                        alert("Error adding check");
                    }
                }
            });
        });
    });
});
</script>
{% endblock %}

{% block content %}

<div class="alert alert-info">
    This section is currently in <b>read only</b> mode and any setting changes will not be saved. This will be updated in future versions.
</div>

<div style="padding: 3rem;">

    <h3>Passive Checks</h3>
    <p>View of all the current passive checks defined in your ncpa configuration files.</p>

    <div class="container-fluid" style="margin-top: 3rem; padding: 0;">
        <div class="row">

            <div class="col-sm-12 col-lg-10 col-xl-8">
                <div class="form-horizontal">

                    <input type="hidden" name="section" value="checks">

                    {% if checks|length > 1 %}
                        {% for check in checks %}
                        <pre style="border-radius:5px;">{{ check[0] }} = {{ check[1] }}</pre>
                        {% endfor %}
                    {% else %}
                        <p>There are no passive checks defined right now.</p>
                    {% endif %}
                    <button class="btn btn-primary" id="add-check-btn" style="border-radius:5px;">Add Check</button>

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}