{% extends 'base.html' %}

{% block headerjs %}
<script>
$(document).ready(function() {
    $('#dashboard-nav').addClass('active');
});
</script>
{% endblock %}

{% block content %}

<div class="row">

    <div class="col-sm-6">
        <div class='well'>
            <table class='table table-striped table-border'>
                <thead>
                    <tr>
                        <th class="description" colspan="2">Agent Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 40%;">Version</td>
                        <td style="width: 60%;">{{ agent_version }}</td>
                    </tr>
                    <tr>
                        <td>Agent Uptime</td>
                        <td>{{ uptime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="padding-bottom: 20px;">
            <a href='/admin/stats' class='btn btn-primary btn-large'>See Live Stats <i class="fa fa-chevron-right fa-r"></i></a>
        </div>
    </div>

    <div class="col-sm-6">
        <div class='well'>
            <table class='table table-striped table-border'>
                <thead>
                    <tr>
                        <th class="description" colspan="2">System Information</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Processor Type</td>
                        <td>{{ processor }}</td>
                    </tr>
                    <tr>
                        <td>Node Name</td>
                        <td>{{ node }}</td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{ version }}</td>
                    </tr>
                    <tr>
                        <td>System</td>
                        <td>{{ system }}</td>
                    </tr>
                    <tr>
                        <td>Release</td>
                        <td>{{ release }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
