{% extends 'base.html' %}

{% block title %}Global{% endblock %}

{% block headerjs %}
<script type="text/javascript">
$(document).ready(function() {
    $(document).keydown(function(e) {
        if (e.keyCode == 82 && e.ctrlKey || e.keyCode == 116) {
            if (window.self !== window.top) {
                location.reload(true);
            } else {
                document.getElementById('help-iframe').contentWindow.location.reload(true);
            }
            return false;
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div class="alert alert-info">
    This section is currently in <b>read only</b> mode and any setting changes will not be saved. This will be updated in future versions.
</div>

{% if flash_msg %}
<div class="alert alert-{{ flash_msg_type }}">
    {{ flash_msg_text }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div style="padding: 3rem;">

    <h3>Global Settings</h3>
    <p>These are generic settings that apply to all of NCPA's services and utilities. These values are stored under the [general] section in the config.</p>

    <div class="container-fluid" style="margin-top: 3rem; padding: 0;">
        <div class="row">

            <div class="col-lg-12">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Check Logging</label>
                        <div class="col-sm-6">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-default{% if sectioncfg['check_logging'] %} active{% endif %}">
                                    <input type="radio" name="check_logging" value="1" autocomplete="off"{% if sectioncfg['check_logging'] %} checked{% endif %}> Enabled
                                </label>
                                <label class="btn btn-sm btn-default{% if not sectioncfg['check_logging'] %} active{% endif %}">
                                    <input type="radio" name="check_logging" value="0" autocomplete="off"{% if not sectioncfg['check_logging'] %} checked{% endif %}> Disabled
                                </label>
                            </div>
                            <span style="margin-left: 1.5rem;">
                                <i class="fa fa-trash-o fa-14"></i> <a href="clear-check-log">Clear Check Log</a>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Check Log Retention</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="log_checks" value="{{ sectioncfg['check_logging_time'] }}" readonly>
                                <div class="input-group-addon">Days</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Log Level</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <select class="form-control" name="loglevel">
                                <option value="error"{% if sectioncfg['loglevel'] == 'error' %} selected{% endif %}>Error</option>
                                <option value="warning"{% if sectioncfg['loglevel'] == 'warning' %} selected{% endif %}>Warning</option>
                                <option value="info"{% if sectioncfg['loglevel'] == 'info' %} selected{% endif %}>Info</option>
                                <option value="debug"{% if sectioncfg['loglevel'] == 'debug' %} selected{% endif %}>Debug</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Log Max MB</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="logmaxmb" value="{{ sectioncfg['logmaxmb'] }}" readonly>
                                <div class="input-group-addon">MB</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Log Backups</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="logbackups" value="{{ sectioncfg['logbackups'] }}" readonly>
                                <div class="input-group-addon">Days</div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">PID File</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <input type="text" class="form-control" name="pidfile" value="{{ sectioncfg['pidfile'] }}" readonly>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">User</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <input type="text" class="form-control" name="uid" value="{{ sectioncfg['uid'] }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Group</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <input type="text" class="form-control" name="gid" value="{{ sectioncfg['gid'] }}" readonly>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">All Partitions</label>
                        <div class="col-sm-6">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-default{% if sectioncfg['all_partitions'] %} active{% endif %}">
                                    <input type="radio" name="all_partitions" value="1" autocomplete="off"{% if sectioncfg['all_partitions'] %} checked{% endif %}> Enabled
                                </label>
                                <label class="btn btn-sm btn-default{% if not sectioncfg['all_partitions'] %} active{% endif %}">
                                    <input type="radio" name="all_partitions" value="0" autocomplete="off"{% if not sectioncfg['all_partitions'] %} checked{% endif %}> Disabled
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Default Units</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <select class="form-control" name="default_units">
                                <option value="k"{% if sectioncfg['default_units'] == 'K' %} selected{% endif %}>k</option>
                                <option value="Ki"{% if sectioncfg['default_units'] == 'Ki' %} selected{% endif %}>Ki</option>
                                <option value="M"{% if sectioncfg['default_units'] == 'M' %} selected{% endif %}>M</option>
                                <option value="Mi"{% if sectioncfg['default_units'] == 'Mi' %} selected{% endif %}>Mi</option>
                                <option value="G"{% if sectioncfg['default_units'] == 'G' %} selected{% endif %}>G</option>
                                <option value="Gi"{% if sectioncfg['default_units'] == 'Gi' %} selected{% endif %}>Gi</option>
                                <option value="T"{% if sectioncfg['default_units'] == 'T' %} selected{% endif %}>T</option>
                                <option value="Ti"{% if sectioncfg['default_units'] == 'Ti' %} selected{% endif %}>Ti</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Exclude FS Types</label>
                        <div class="col-sm-6 col-md-4 col-lg-6 col-xl-9">
                            <input type="text" class="form-control" style="display: inline-block; width: 100%;" name="exclude_fs_types" value="{{ sectioncfg['exclude_fs_types'] }}" readonly>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
