{% extends 'base.html' %}

{% block title %}NRDP{% endblock %}

{% block headerjs %}
<script type="text/javascript">
$(document).ready(function() {
    $(document).keydown(function(e) {
        if (e.keyCode == 82 && e.ctrlKey || e.keyCode == 116) {
            if (window.self !== window.top) {
                location.reload(true);
            } else {
                document.getElementById('help-iframe').contentWindow.location.reload(true);
            }
            return false;
        }
    });

    $('input[name="nrdp_url"]').val(function(index, value) {
        return value.replace(/\\\//g, '/');
    });

    $('form').submit(function(e) {
        e.preventDefault();
        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/update-config/', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send(new URLSearchParams(new FormData(this)).toString());

        $('#flashMessageText').html('Saving changes...  <i class="fa fa-spinner fa-spin"></i>');
        
        xhr.onreadystatechange = function() {
            console.log(xhr.readyState, xhr.status);    
            let response = JSON.parse(xhr.responseText);
            let flash = document.querySelector('#flashMessage');
            let flashText = document.querySelector('#flashMessageText');
            if (response.type == 'success') {
                flash.classList.add('alert-' + response.type);
                flash.classList.remove('alert-danger');
                flash.style.display = 'block';
                flashText.innerHTML = '<i class="fa fa-check"></i>  ';
                flashText.innerHTML += response.message;
            } else {
                $('#flashMessageText').html('<i class="fa fa-times"></i> ' + response.message);
                $('#flashMessage').addClass('alert-danger').show();
            }
            setTimeout(function() {
                $('#flashMessage').hide().removeClass('alert-danger').removeClass('alert-success');
                $('#flashMessageText').html('');
            }, 10000);
        };
    });
});
</script>
{% endblock %}

{% block content %}

<div id="flashMessage" class="alert" style="display:none;">
    <div id="flashMessageText"></div>
</div>

<div style="padding: 3rem;">

    <h3>NRDP</h3>
    <p>These are the NRDP settings for where to send your passive checks.</p>

    <div class="container-fluid" style="margin-top: 3rem; padding: 0;">

        {% if 'nrdp' not in handlers %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger col-sm-12 col-xl-6" style="margin: -1rem 0 3rem 0;">
                    The <em><b>nrdp</b></em> handler is not currently set in the passive config handlers option.
                </div>
            </div>
        </div>
        {% endif %}

        <form>

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-horizontal">

                        <input type="hidden" name="section" value="nrdp">

                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">NRDP URL</label>
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <input type="text" class="form-control" name="nrdp_url" placeholder="http://X.X.X.X/nrdp" value="{{ sectioncfg['parent'] }}" {% if 'nrdp' not in handlers %}readonly{% endif %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">NRDP Token</label>
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <input type="password" class="form-control" name="nrdp_token" value="{{ sectioncfg['token'] }}" {% if 'nrdp' not in handlers %}readonly{% endif %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Hostname</label>
                            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-3">
                                <input type="text" class="form-control" name="hostname" value="{{ sectioncfg['hostname'] }}" {% if 'nrdp' not in handlers %}readonly{% endif %}>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Connection Timeout</label>
                            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-3">
                                <input type="text" class="form-control" name="connection_timeout" value="{{ sectioncfg['connection_timeout'] }}" {% if 'nrdp' not in handlers %}readonly{% endif %}>
                            </div>
                        </div>

                        {% if 'nrdp' in handlers %}
                        <div class="form-group">
                            <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2"></label>
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </form>

    </div>

</div>

{% endblock %}
