{% extends 'base.html' %}

{% block title %}Passive Settings{% endblock %}

{% block headerjs %}
<script type="text/javascript">
$(document).ready(function() {
    $(document).keydown(function(e) {
        if (e.keyCode == 82 && e.ctrlKey || e.keyCode == 116) {
            if (window.self !== window.top) {
                location.reload(true);
            } else {
                document.getElementById('help-iframe').contentWindow.location.reload(true);
            }
            return false;
        }
    });
});
</script>
{% endblock %}

{% block content %}

<div class="alert alert-info">
    This section is currently in <b>read only</b> mode and any setting changes will not be saved. This will be updated in future versions.
</div>

<div style="padding: 3rem;">

    <h3>Passive Settings</h3>
    <p>View the general settings for the Passive service and which handlers it will be running, such as NRDP.</p>

    <div class="container-fluid" style="margin-top: 3rem; padding: 0;">
        <div class="row">

            <div class="col-lg-12">
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Passive Handlers</label>
                        <div class="col-sm-6">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-sm btn-default{% if 'nrdp' in handlers %} active{% endif %}">
                                    <input type="checkbox" name="handlers" value="nrdp" autocomplete="off"{% if 'nrdp' in handlers %} checked{% endif %}> NRDP
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">User</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <input type="text" class="form-control" name="uid" value="{{ uid }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Group</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <input type="text" class="form-control" name="gid" value="{{ gid }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Default Sleep</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="sleep" value="{{ sleep }}" readonly>
                                <div class="input-group-addon">Secs</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">PID File</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <input type="text" class="form-control" name="pidfile" value="{{ pidfile }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Log Level</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <select class="form-control" name="loglevel">
                                <option value="error"{% if loglevel == 'error' %} selected{% endif %}>Error</option>
                                <option value="warning"{% if loglevel == 'warning' %} selected{% endif %}>Warning</option>
                                <option value="info"{% if loglevel == 'info' %} selected{% endif %}>Info</option>
                                <option value="debug"{% if loglevel == 'debug' %} selected{% endif %}>Debug</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Log File</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                            <input type="text" class="form-control" name="logfile" value="{{ logfile }}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Log Max MB</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="logmaxmb" value="{{ logmaxmb }}" readonly>
                                <div class="input-group-addon">MB</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Log Backups</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="logbackups" value="{{ logbackups }}" readonly>
                                <div class="input-group-addon">Days</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4 col-md-3 col-lg-2 col-xl-2">Delayed Start</label>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-1">
                            <div class="input-group">
                                <input type="text" class="form-control" name="delay_start" value="{{ delay_start }}" readonly>
                                <div class="input-group-addon">Secs</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}
