[listening server]
#~ Declare all IP:Port in a comma separated list
#~ If using passive server, ensure the [passive][connect] directive
#~ is being served.
ipport = 0.0.0.0:5691

[passive]
#~ The IP:Port the passive daemon will connect to get the information, must
#~ be accessible on this machine.
connect = 127.0.0.1:5691
#~ The period of which the checks should be sent out on, in seconds
sleep = 300

[nrdp]
#~ This is the section that the Nagios NRDP handler will use
nrdp_server = https://192.168.1.26/nrdp
nrdp_token = a

[passive checks]
#~ Magic name, indicating relevant Nagios hostname
nagios_hostname = localhost
CPU Usage = check_cpu
Memory Usage = check_memory



[logging]
log_level = DEBUG
filename = var/ncpa.log
format = %(asctime)s %(levelname)s:%(message)s
datefmt = %m/%d/%y %H:%M:%S

[plugin suffix instructions]
.vbs = cscript $plugin_name $plugin_args //NoLogo
.ps1 = powershell -ExecutionPolicy Unrestricted $plugin_name $plugin_args
.sh = /bin/sh $plugin_name $plugin_args
