name: Build

on:
  push:
    branches: [ 'dev-v3' ]

jobs:

  build:
    
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Check system platform
      run: python -c "import sys; print(sys.platform)"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade -r build/resources/require.txt
    - name: Install OS-specific dependencies
      if: runner.os == 'Windows'
      run: python -m pip install pypiwin32 cx_Logging
    - name: Build the NCPA binaries
      run: python setup.py build_exe
      working-directory: agent